.images {
    background-color: black;
    background-image: url('http://172.17.20.49:8080/video/assets/images/Toolbar-sd9fff0f1f5.png');
    background-repeat: no-repeat;
}

.grid {
    background-position: 0 -560px;
    height: 20px;
    width: 20px;
}
